{% extends 'dashboardadmin/layout.html' %} {% block title %}

<label>Articles</label>
{%endblock%} {%block body %} {% if msg %}

<div class="alert alert-success alert-dismissible fade show" role="alert">
  <strong>{{msg}}</strong>
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
</div>
{%endif%}
{% block conf%}
{%endblock%}
<div class="col-md-12">
  <table class="table table-striped table-hover" id="articletable">
    <thead>
      <tr>
        <th scope="col">Titre</th>
        <th scope="col">Article</th>
        <th scope="col">Dernire modification</th>
        <th>Action</th>
        <th>.</th>
        <th>.</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      {% for article in articles %}
      <tr>
        <td>{{article.title}}</td>
        <td>{{article.text|slice:':20'}} ...</td>
        <td>{{article.lastupdated}}</td>
        <td>
          <a
            href="{% url 'display_article' article.pk %}"
            class="btn btn-primary"
            >Voir</a
          >
        </td>
        <td><a href="{% url 'updatearticle' article.pk %}" class="btn btn-secondary">Modifier</a></td>
        <td>
          <a href="{% url 'deletearticle' article.pk %}"  class="btn btn-danger"
            >Suprimer</a
          >
        </td>
      </tr>
      <!-- Modal -->
      <div
        class="modal fade"
        id="staticBackdrop"
        data-bs-backdrop="static"
        data-bs-keyboard="false"
        tabindex="-1"
        aria-labelledby="staticBackdropLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="staticBackdropLabel">
                Modal title
              </h1>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">{{delarticle.pk}}</div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Close
              </button>
              <button type="button" class="btn btn-primary">Understood</button>
            </div>
          </div>
        </div>
      </div>
      {%endfor%}
    </tbody>
  </table>
</div>
{%endblock%}
