{% extends 'articles/root.html' %} {% block body %} {% if article %}
<section class="hero section-padding" id="hero">
  <div class="heroText">
    <h4
      class="news-detail-title text-white mt-lg-5 mb-lg-4"
      data-aos="zoom-in"
      data-aos-delay="300"
    >
      {{article.title}}
    </h4>

    <div class="d-flex justify-content-center align-items-center">
      <span class="text-white bi bi-calendar"> {{article.datepublished}} </span>
      <br />
      <span class="text-white bi bi-pencil-square">
        {{article.publishedby}}</span
      >
    </div>
  </div>
  <div class="videoWrapper">
    <img
      src="{{article.imagethumbnail.url}}"
      class="img-fluid news-detail-image"
      alt=""
    />
  </div>
</section>
<section class="news-detail section-padding">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-10 mx-auto">
        <h2 class="mb-3" data-aos="fade-up">{{article.title}}</h2>

        <p data-aos="fade-up" class="text-dark">{{article.content}}</p>

        <div class="social-share d-flex mt-5">
          <span class="me-4" data-aos="zoom-in">Share this article:</span>
          
          <div
            class="fb-share-button"
            data-href="{{request.build_absolute_uri}}"
            data-layout="button_count"
            data-size="small"
          >
            <a
              target="_blank"
              href="https://www.facebook.com/sharer/sharer.php?u={{request.build_absolute_uri}}"
              class="fb-xfbml-parse-ignore"
              >Partager</a
            >
          </div>
          <a
            href="#"
            class="social-share-icon bi-twitter mx-3"
            data-aos="zoom-in"
          ></a>

          <a
            href="#"
            class="social-share-icon bi-envelope"
            data-aos="zoom-in"
          ></a>
        </div>
      </div>
    </div>
  </div>
</section>
{% endif %} {% endblock %}
