{% load static %}
{% if lastarticle %}
<div class="col-lg-6 col-12 mb-5 mb-lg-0">
    <div class="news-thumb" data-aos="fade-up">
      <a
        href="{% url 'display_article' lastarticle.pk %}"
        class="news-image-hover news-image-hover-warning"
      >
        <img
          src="{{lastarticle.imagethumbnail.url}}"
          class="img-fluid large-news-image news-image"
          alt=""
        />
      </a>

      <div class="news-category bg-success text-white">Last posted</div>

      <div class="news-text-info marg">
        <h5 class="news-title">
          <a href="{% url 'display_article' lastarticle.pk %}" class="news-title-link"
            >{{ lastarticle.title }}</a
          >
        </h5>
        <span class="text-muted bi bi-eye">
          {{lastarticle.nb_views}}</span
        >
        <br/>
        <span class="text-muted bi bi-calendar"> {{lastarticle.datepublished}}</span>
      </div>
    </div>
  </div>
  {% endif %}