{% load static %}
<section class="news" id="news">
  <div class="container">
    <div class="row d-flex justify-content-start col-md-12">
      
        {% for article in page_obj %}
        <div
          class="news-thumb col-md-4 mb-4"
          data-aos="fade-up"
        >
          <div class="news-top w-100" data-aos="fade-up">
            <a
              href="{% url 'display_article' article.pk %}"
              class="news-image-hover news-image-hover-success"
            >
              <img
                src="{{article.imagethumbnail.url}}"
                class="img-fluid news-image"
                alt=""
              />
            </a>

            <div class="news-category bg-success text-white">News</div>
          </div>

          <div class="news-bottom">
            <div class="news-text-info">
              <h6 class="news-title">
                <a href="{% url 'display_article' article.pk %}" class="news-title-link"
                  >{{article.title}}</a
                >
              </h6>
              <span class="text-muted bi bi-eye">
                {{article.nb_views}}</span
              >
              <br />
              <span class="text-muted bi bi-calendar">
                {{article.datepublished}}</span
              >
            </br>
            </div>
          </div>
        </div>
        {% endfor %}
        {% include 'articles/pagination.html' %}
    </div>
  </div>
</section>
