{% load static %}
{% if most_read %}
<div class="col-lg-6 col-12 mb-5 mb-lg-0">
    <div class="news-thumb" data-aos="fade-up">
      <a
        href="{% url 'display_article' most_read.pk %}"
        class="news-image-hover news-image-hover-warning"
      >
        <img
          src="{{most_read.imagethumbnail.url}}"
          class="img-fluid large-news-image news-image"
          alt=""
        />
      </a>

      <div class="news-category bg-info text-white">Most read article</div>

      <div class="news-text-info">
        <h5 class="news-title">
          <a href="{% url 'display_article' most_read.pk %}" class="news-title-link"
            >{{most_read.title}}</a
          >
        </h5>

        <span class="text-muted bi bi-eye">
          {{most_read.nb_views}}</span
        >
        <br/>
        <span class="text-muted bi bi-pencil-square"> {{most_read.publishedby}}</span>
      </div>
    </div>
  </div>
{% endif %}