{% load static %}
<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!--CSS FILES-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;700;900&display=swap"
      rel="stylesheet"
    />

    <link
      href="{% static 'articles/css/bootstrap.min.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'articles/css/bootstrap-icons.css' %}"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="{% static 'articles/css/magnific-popup.css' %}"
    />

    <link href="{% static 'articles/css/aos.css' %}" rel="stylesheet" />

    <link
      href="{% static 'articles/css/templatemo-nomad-force.css' %}"
      rel="stylesheet"
    />
    <!--END CSS FILES-->
  </head>
  <body>
    <main>
      {% include 'articles/nav.html' %} 
      {% block body %} {% endblock %}
    </main>
    {% include 'articles/footer.html' %}
    <!-- JAVASCRIPT FILES -->
    <script src="{% static 'articles/js/jquery.min.js' %}"></script>
    <script src="{% static 'articles/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'articles/js/jquery.sticky.js' %}"></script>
    <script src="{% static 'articles/js/aos.js' %}"></script>
    <script src="{% static 'articles/js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'articles/js/magnific-popup-options.js' %}"></script>
    <script src="{% static 'articles/js/scrollspy.min.js' %}"></script>
    <script src="{% static 'articles/js/custom.js' %}"></script>
    <!--END JAVASCRIPT FILES -->
  </body>
</html>
